footer
    .footer
        .info-col-left
            | GEORGE MASON UNIVERSITY
            br
            | SPRING 2020 - CS321 WEB APP PROJECT
            br
            | - FRONT-END STACK: HTML, CSS, JQUERY
            br
            | - BACK-END STACK: NODE.JS, MONGODB, EXPRESS.JS
        .info-col-right
            | Developers:
            br
            | Frontend: Trung Tran, Peter Hadeed
            br
            | Backend: Trung Tran, David Burjandadze, Marisa Mills
        .clr
    .footer-bot