extend layout

block content
	script(src="/javascripts/loader.js" crossorigin="anonymous")
	.block-noPad
		.container
			#dataContainer
			h1#welcome Welcome to George Mason's Office Hour Scheduler used to eliminate waiting lines for professor visits
			script.
				let scheduleDB = !{JSON.stringify(users)};
				loadAndBuild(scheduleDB);