extend layout

block content
	script(src="/javascripts/loader.js" crossorigin="anonymous")
	.block-noPad
		.container
			#dataContainer
			script.
				let scheduleDB = !{JSON.stringify(users)};
				loadAndBuild(scheduleDB);