extend layout

block content
    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="/javascripts/manage-control.js" crossorigin="anonymous")
    .block-noPad
        .container
            h1 Manager Dashboard
            hr
            .controlFrame
                button#addProfessors.btnControl + Prof.
                button#deleteProfessors.btnControl - Prof.
                button#viewProfessors.btnControl View Prof.
                button#promoteUsers.btnControl Promote
                button#disgraceUsers.btnControl Disgrace
                button#viewUsers.btnControl View All Users
                button#viewUnverifiedUsers.btnControl View Unverified Users
                button#viewProfUsers.btnControl View Prof. Users
                button#viewStudUsers.btnControl View Stud. Users
                button#activateUsers.btnControl Activate Users
                button#sendActivationCode.btnControl Send Activation Code
            .split50
                .split50Left
                    textarea#inputList(name="inputList" class="inputListTextArea" placeholder="Input ...")
                .split50Right
                    input#filter(type="text", name="filter" class="filter" placeholder="Filter")
                    textarea#result(name="result" class="inputListTextArea textReadOnly" placeholder="Result ..." readonly)
                .clr