extend layout

block content
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous")
    script(src="/javascripts/manage-control.js" crossorigin="anonymous")
    .block-noPad
        .container
            h1 Manager Dashboard
            hr
            .controlFrame
                button#addProfessors.btnControl + Prof.
                button#deleteProfessors.btnControl - Prof.
                button#viewProfessors.btnControl * Prof.
                button#addClasses.btnControl + Class.
                button#deleteClasses.btnControl - Class.
                button#viewClasses.btnControl * Class.
                button#promoteUsers.btnControl Promote
                button#disgraceUsers.btnControl Disgrace
                button#viewUsers.btnControl * Users
                button#viewUnverifiedUsers.btnControl * Unverified
                button#viewProfUsers.btnControl * Professors
                button#viewStudUsers.btnControl * Students
                button#activateUsers.btnControl ^ Users
                button#sendActivationCode.btnControl Send ^
            .split50
                .split50Left
                    .inputContainer
                        textarea#inputList(name="inputList" class="inputListTextArea" placeholder="Input ...")
                .split50Right
                    .filterContainer
                        input#filter(type="text", name="filter" class="filter" placeholder="Filter")
                    #appender-outter
                        #appender-inner
                    .resultContainer
                        textarea#result(name="result" class="inputListTextArea textReadOnly" placeholder="Result ..." readonly)
                .clr