-
	const navItems = [
		{"route": "/user/login", "desc": "Login", "icon": "fas fa-sign-in-alt", "class": "navElement firstElementSpecialMargin"},
		{"route": "/user/register", "desc": "Register", "icon": "fas fa-user-plus", "class": "navElement"},
		{"route": "/scheduler", "desc": "Scheduler", "icon": "fas fa-clock", "class": "navElement"},
		{"route": "/booking", "desc": "Booking", "icon": "fas fa-hands-helping", "class": "navElement"}
	]

nav
	.block-noPad
		.navBar
			each item in navItems
				a(href=item.route)
					div(class=item.class)
						i(class=item.icon)
						=item.desc
			.clr
