/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/**
 * Main CSS Content Starts From Here
 */

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #1f1f1f;
    background: #f3f3f3;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    min-height: 1000px;
}

.block-top {
    height: 15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #485453;
}

.block-noPad {
    margin: auto;
    min-width: 10px;
    min-height: 10px;
    background: #fff;
}

.block {
    padding: 10px 20px;
    min-height: 10px;
    min-width: 10px;
    margin: auto;
}

.header {
    min-height: 100px;
    max-height: 100%;
    max-width: 100%;
    background: #758281;
}

.logo-text {
    font-size: 30px;
    margin-top: 45px;
    margin-left: 100px;
    float: left;
    color: #adcac7;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    text-shadow: 3px 3px #1b2520;
}

.logo-img {
    height: 12%;
    width: 12%;
    padding: 40px 20px 40px 44px;
    float: left;
}

.container {
    background: #FFF;
    padding: 20px 40px;
    min-height: 500px;
}

.notice {
    background: #ffdede;
    color: #9e4d4d;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

a {
    color: #1c74b1;
}

.row-form {
    padding: 5px 0;
}

.login-form {
    margin: auto;
    width: 100%;
    max-width: 320px;
    padding: 20px 20px 40px;
    min-height: 450px;
}

.regular-form {
    margin: auto;
    width: 100%;
    max-width: 800px;
    padding: 20px 20px 40px;
    min-height: 450px;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    background: #ececec;
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    background: #ececec;
}

input[type=submit] {
    width: 100%;
    background-color: #758281;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
}

select:invalid {
    color: gray;
}

.setupDay {
    width: 200px;
    float: left;
}

.setupTime {
    width: 50px;
    margin-left: 20px;
    float: left;
}

.title-form {
    text-align: center;
    font-size: 25px;
}

.desc-form {
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    letter-spacing: 3px;
    padding: 20px 0;
}

.sub-form {
    text-align: center;
    letter-spacing: 1px;
}

.footer {
    min-height: 100px;
    background: #758281;
    padding: 25px 30px 10px;
}

.footer-bot {
    background: #485453;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 15px;
}

.clr {
    clear: both;
}

.info-col-left {
    color: #c9eceb;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    float: left;
}

.info-col-right {
    text-transform: uppercase;
    color: #c9eceb;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: right;
    float: right;
}

.data-row {
    border-bottom: 1px dashed #d7dee4;
    padding: 10px;
    margin-top: 10px;
}

.data-left {
    float: left;
    font-size: 14px;
    min-width: 220px;
    border-right: 1px solid lightgray;
}

.data-right {
    float: left;
    margin-left: 20px;
}

.slot {
    float: left;
    margin-left: 3px;
    width: 5px;
    height: 15px;
    background: #0fc30f;
    border-radius: 3px;
}

.hidden {
    display: none !important;
}

.sc_delete {
    display: inline;
    font-family: Arial, sans-serif;
    font-size: 13px;
    cursor: pointer;
    padding: 1px;
    border-radius: 3px;
    padding-top: 3px;
    font-weight: bold;
}

.sc_add {
    float: left;
    width: 65px !important;
    margin-left: 20px !important;
    background: #2eada8 !important;
    border: 4px solid #0c7d79 !important;
    padding: 10px 20px !important;
    text-align: center;
    font-weight: bolder;
}

.professor {
    color: #a55050;
    border-bottom: 1px solid #c7b2b2;
    width: 300px;
    background-color: white;
    border-top: 1px solid #c7b2b2;
    margin: 20px auto;
}

.navBar {
    width: 100%;
    background: #485453;
    color: white;
    padding: 20px 0;
}

.navElement {
    display: inline-block;
    margin-left: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #c9eceb;
}

.firstElementSpecialMargin {
    margin-left: 50px;
}

.noteBox {
    float: left;
    margin-left: 20px !important;
    width: 575px !important;
}

.classBox {
    float: left;
    width: 200px !important;
}

.ui-widget {
    font-size: 15px !important;
    background: rgba(233, 233, 233, 1) !important;
    ;
    border-left: 1px solid #202020 !important;
    border-right: 1px solid #202020 !important;
    ;
    border-bottom: 1px solid #202020 !important;
    ;
    color: #202020 !important;
    max-height: 200px;
    overflow: scroll;
}

.classNameBox {
    font-size: 17px;
    font-weight: bold;
    padding: 10px 0;
}

.fas {
    padding-right: 5px;
}

h1 {
    font-size: 2em !important;
}

.msgError {
    background: #f3f3c3;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #a75e1f;
    color: #a75e1f;
}

.msgSuccess {
    background: #cdf5da;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #00633d;
    color: #00633d;
}

.logoutBtn {
    display: block;
    padding: 12px 6px;
    color: white;
    background: #868686;
    width: 70px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    border: 5px solid #adadad;
}

.btnControl {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    background: #d3d9dc;
    border: 1px solid #999999;
}

.btnControl:focus {
    outline: none;
}

.controlFrame {
    margin-bottom: 10px;
}

.inputListTextArea {
    background: transparent;
    line-height: 18px;
    font-size: 15px;
    height: 355px;
    width: 100%;
    border: 0;
}

.inputListTextArea:focus {
    outline: none;
}

.navElement:hover {
    color: #FFF;
}

.split50Left {
    float: left;
    width: 47%;
}

.split50Right {
    float: left;
    width: 52%;
    margin-left: 1%;
}

.textReadOnly {
    background: transparent;
    border: 0;
    height: 200px;
    width: 100%;
}

.filter {
    width: 100% !important;
    margin: 0 !important;
    margin-bottom: 10px !important;
    border-radius: 3px !important;
    border: 1px solid darkcyan !important;
    background: #c7e8e1 !important;
    box-sizing: border-box !important;
}

.filter:focus {
    outline: none;
}

#appender-outter {
    background: #dadada;
    border: 1px solid #6f6f6f;
    float: left;
    min-height: 100px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
}

#appender-inner {
    /* blank */
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
    border: 0 !important;
    background: transparent !important;
    overflow: scroll !important;
    height: 150px;
    display: block !important;
}

.inputContainer {
    height: 363px;
    border: 1px solid #c5975a;
    background: antiquewhite;
    padding: 15px;
    border-radius: 3px;
    font-size: 15px;
}

.resultContainer {
    border-radius: 3px;
    font-size: 15px;
    background: #dadada;
    border: 1px solid #6f6f6f;
    height: 230px;
    padding: 15px;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

.selectGeneral {
    -webkit-appearance: none;
    width: 200px;
}

.setupTime {
    width: 65px;
    margin-left: 20px;
}

.noMarginLeft {
    margin-left: 0;
}

#selectionDay {
    width: 110px;
}

#classCode {
    width: 110px;
    float: left;
}

.selectionLabel {
    padding-top: 10px;
}

.selectionLabelSub {
    float: left;
    font-weight: bold;
    width: 110px;
}

.selectionLabelCustomWidth1 {
    width: 130px;
}

.selectionLabelCustomWidth1-2 {
    width: 85px;
}

.selectionLabelCustomWidth2 {
    width: 255px;
}

.professorName {
    color: #b55757;
    font-size: 25px;
    padding: 10px;
    border: 3px solid #753636;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #f7e2e2;
}

.scheduleColumn {
    min-width: 110px;
    display: inline-block;
}

.scheduleHeader {
    background: #c9e4d6;
    color: #044e27;
}

.scheduleColumn {
    font-size: 15px;
    padding: 10px;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #c9e4d6;
}

.btnSaving {
    margin-top: 10px;
    padding: 15px 20px;
    font-size: 15px;
}

/*
Note for GMU Template
Dark: #034220
Light: #14693b
Text: #c5e6d5
*/